@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

/*Utility class*/
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  min-height: 100vh;
  color: black;
  padding: 0px 20px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

button {
  border: 0;
}

button:hover {
  cursor: pointer;
}

input {
  border: 0;
}

button:focus,
input:focus {
  outline: 0;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, auto));
  grid-auto-rows: minmax(200px, 320px);
  gap: 10px;
}
.blog img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}
.details {
  margin: 10px 20px;
}

.btn {
  position: absolute;
  left: 10px;
  top: 15px;
  font-size: 0.6em;
  padding: 5px 10px;
  background: #7ea3da;
  color: white;
}

.details h2 {
  color: #111;
  margin-bottom: 3px;
  font-size: 0.8em;
}

.details p {
  color: #333;
  margin-bottom: 2px;
  font-size: 0.7em;
}

.details span {
  color: #333;
  font-size: 0.6em;
}
.buttons {
  padding: 30px;
}

.pag-btn {
  font-size: 0.8em;
  background: black;
  color: white;
  padding: 4px 10px;
  margin-right: 15px;
  border-radius: 5px;
}
